> How will money be spent?

All money received from these channels is saved and periodically spent on items necessary for development. It will be used to replace aging devices and other necessary hardware. 

As an example, my current budget Android phone was purchased using these funds ($100).

> How much has been collected?

Unfortunately less than you might think, and much less than hoped for. 

The current project income isn't enough to pay for essentials like time or expertise; these resources are all volunteered, but replacing development hardware is a realistic goal. The project has been soliciting donations for ~7 years, and now has enough to purchase a low end Pixel device.

