Suntimes is available gratis, but if it has proven its value, **please pay as you feel**.

* [Paypal](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NZJ5FJBCKY6K2)
* [Liberapay](https://liberapay.com/forrestguice/donate)
* [ko-fi](https://ko-fi.com/forrestguice)
* [Buy Me a Coffee](https://www.buymeacoffee.com/forrestguice)

Software development and maintenance requires the use of real world resources, and cannot be sustained without them.
Your willingness to [assign it real world value](https://en.wikipedia.org/wiki/Pay_what_you_want) is greatly appreciated.
